*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
:root{
    --cor1: #b9bdc7;
    --cor2: #141721;
    --cor3: #191C26;
    --cor4: #151925;
    --cor5: #fff;
}

body{
    width: 100%;
    height: 100%;
}
nav{
    width: 200px;
    height: 800px;
    background-color: var(--cor2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    left: -200px;
    top: 0;
    z-index: 300;
    transition: all 1s;
    border-radius: 0 0 15px 0;
}
.logo{
    text-align: center;
    width: 100%;
}
.logo img{
    width: 60px;
    cursor: pointer;
}
.navlinks{
    width: 100%;
}
.navlinks ul{
    margin-top: 50px;
}
.navlinks ul li{
    width: 100%;
    margin-bottom: 20px;
}
.navlinks ul li a{
    color: var(--cor5);
    display: block;
    padding: 10px 10px;
    transition: all .5s;
    border-radius: 5px;
}
.navlinks ul li a i{
    margin-right: 10px;
}
.navlinks ul li a:hover{
    background: linear-gradient(to right, #02A8DC, #3F04BF);
}
.navlinks .watchlist{
    color: var(--cor5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.navlinks .watchlist a{
    color: var(--cor5);
    display: block;
    width: 100%;
    transition: all .5s;
}
.navlinks .watchlist a:hover{
    letter-spacing: 1px;
}
nav .settings ul li{
    margin-top: 10px;
}
nav .settings ul li a{
    color: var(--cor1);
    margin-top: 20px;
}
nav .settings ul li a > i{
    margin-right: 10px;
}
nav .settings{
    border-top: 1px solid rgba(175, 173, 173, 0.26);
    padding-top: 10px;
}





/* HEADER */
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 15px 40px;
    height: 100px;
}
header .topcollections {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header .topcollections h2{
    font-size: 2rem;
}
.topcollections #menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor5);
    cursor: pointer;
    z-index: 100;
    display: block;
}
.topcollections #menu > i{
    transition: all 1s;
}

header .profile{
    display: flex;
}
header .notifications{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor1);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
header .notifications:hover{
    background: var(--cor1);
    border: #fff;
}
header .notifications::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background: red;
    right: 8px;
    top: 6px;
}

#sino{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .profile{
    display: flex;
    align-items: center;
}
header .profile .name{
    margin: 0 20px;
}

header .profile .name span:nth-child(1){
    font-weight: bold;
}
header .profile .name #id{
    font-size: .8rem;
    color: rgb(124, 124, 124);
}
header .profile .picture img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.more i{
    color: rgb(124, 124, 124);
    cursor: pointer;
}


/* MAIN */
main{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}
.content{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 62% auto auto;
    grid-template-areas: 
    "conteudo lista "
    "conteudo listadois";
    height: 100vh;
}
.profile-content{
    background: var(--cor3);
    grid-area: conteudo;
    padding: 30px;
}
.profile-content .bg{
    width: 100%;
    border-radius: 15px;
    position: relative;
    height: 200px;
}
.profile-content .bg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
    position: relative;
}
.profile-content .bg img:nth-child(2){
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    left: 45%;
    border: 10px solid var(--cor3);
    transition: all .5s;
}
.profile-content .bg img:nth-child(2):hover{
    transform: scale(110%);
}
.profile-details{
    margin-top: 50px;
    color: var(--cor5);
}
.profile-details .text{
    text-align: center;
}
.profile-details p{
    color: var(--cor1);
    line-height: 30px;
}
.filter-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.filter a{
    color: var(--cor5);
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid rgba(223, 223, 223, 0.192);
    border-radius: 5px;
}
.filter a:hover{
    background: linear-gradient(to right, #02A8DC, #3F04BF);
}
.search label div{
    position: relative;
}
.search label input{
    height: 40px;
    outline: none;
    border: none;
    background-color: #1f2129;
    padding: 0 35px;
    color: var(--cor5);
    position: relative;
    border-radius: 20px;
    font-weight: bold;
}
.search label input::placeholder{
    color: #ffffff23;
}
.search label div i{
    position: absolute;
    left: 8px;
    top: 12px;
    color: #ffffff23;
}










.upcoming-nfts{
    background: var(--cor3);
    grid-area: lista;
    padding: 20px;
}
.upcoming-nfts .list-nfts{
    width: 100%;
    height: 100%;
    background-color: var(--cor4);
    padding: 30px;
    border-radius: 20px;
}
.upcoming-nfts .list-nfts .text{
    margin-bottom: 20px;
}
.upcoming-nfts .list-nfts .text h3{
    color: var(--cor5);

}
.upcoming-nfts .list-nfts .cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.upcoming-nfts .list-nfts .cards .card{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--cor3);
    padding: 0 10px;
    border-radius: 15px;
    background: var(--cor3);
    color: var(--cor5);
    border: 1px solid rgba(255, 255, 255, 0.192);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}


.upcoming-nfts .list-nfts .cards .card img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
}
.upcoming-nfts .list-nfts .cards .card img:hover{
    width: 70px;
    border-radius: 50%;
}
.upcoming-nfts .list-nfts .cards .card .name-nft span:nth-child(1){
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.upcoming-nfts .list-nfts .cards .card .name-nft #arroba{
    color: rgb(124, 124, 124);
    font-size: .8rem;
}



.top-creator{
    background: var(--cor3);
    grid-area: listadois;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.top-creator div:nth-child(1){
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 30px;
}
.top-creator .text{
    margin-bottom: 20px;
}
.top-creator .text h3{
    color: var(--cor5);

}
.top-creator .cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.top-creator .cards .card{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--cor3);
    padding: 0 10px;
    border-radius: 15px;
    background: var(--cor3);
    color: var(--cor5);
    border: 1px solid rgba(255, 255, 255, 0.192);
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}


.top-creator .cards .card img{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
}
.top-creator .cards .card img:hover{
    width: 70px;
    border-radius: 50%;
}
.top-creator .cards .card .name-nft span:nth-child(1){
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.top-creator .cards .card .name-nft #arroba{
    color: rgb(124, 124, 124);
    font-size: .8rem;
}
/* PURCHASE NFTS */
.purchase-nfts{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: grid;
    grid-template: 500px / repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px 20px;
}


.purchase-nfts .nft-box{
    width: 300px;
    height: 500px;
    background-color: var(--cor2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.288);
}
/* HEADER */
.purchase-nfts .nft-box .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.purchase-nfts .nft-box .logo-company{
    display: flex;
    align-items: center;
    gap: 15px;
}
.purchase-nfts .nft-box .logo-company img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.purchase-nfts .nft-box .logo-company .name{
    display: flex;
    flex-direction: column;
}
.purchase-nfts .nft-box .logo-company .name span{
    font-size: .8em;
    color: rgb(124, 124, 124);
}
.purchase-nfts .nft-box .logo-company .name #name{
    font-weight: bold;
    font-size: 1rem;
    color: var(--cor5);
}
.purchase-nfts .nft-box img{
    width: 60px;
}
.purchase-nfts .nft-box .like {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase-nfts .nft-box .like .fa-heart{
    color: rgb(124, 124, 124);
    transform: scale(150%);
    cursor: pointer;
}
/* MAIN */
.purchase-nfts .nft-box .main{
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0 ;
}

.purchase-nfts .nft-box .main img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s;
}
.purchase-nfts .nft-box .main img:hover{
    transform: scale(105%);
}

/* FOOTER */
.purchase-nfts .nft-box .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase-nfts .nft-box .footer img{
    width: 20px;
}
.purchase-nfts .nft-box .footer .floor-price span:first-child,.purchase-nfts .nft-box .footer .highest-bid span:first-child{
    font-weight: bold;
    color: var(--cor5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase-nfts .nft-box .footer .floor-price span:last-child, .purchase-nfts .nft-box .footer .highest-bid span:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(124, 124, 124);
    font-weight: bold;
}


/* RESPONSIVE */
@media (max-width: 1820px){
    .purchase-nfts{
        grid-template: 500px / repeat(3, 1fr);
    }
}
@media (max-width: 1670px){
    .content{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas: 
        "conteudo conteudo"
        "lista listadois";
    }
}
@media (max-width: 1200px){
    .purchase-nfts{
        grid-template: 500px / repeat(2, 1fr);
    }
}
@media (max-width: 915px){
    .filter-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 880px){
    .topcollections #menu{
        display: block;
    }
}
@media (max-width: 680px){
    .purchase-nfts{
        grid-template: 500px / repeat(1, 1fr);
    }
}
@media (max-width: 620px){
    header{
        flex-direction: column;
    }
}
@media (max-width: 511px){
    .content{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas: 
        "conteudo conteudo"
        "lista lista"
        "listadois listadois";
    }
}




